extends layout

block content
	form(action='/orgSetup',method='post')
		label(for='name') Organization Name
			input(id='name',type='text',value='',placeholder='Name',name='name')
		label(for='username') Username
			input(id='username',type='text',value='',placeholder='Username',name='username')
		label(for='password') Password
			input(id='password',type='text',value='',placeholder='Username',name='password')
		input(type='submit',value='Add')